@use 'scss';


::-webkit-scrollbar {
    display: none
}

html {
    @include scss.vendors(user-select, none, webkit);

    scroll-behavior: smooth;
    backface-visibility: hidden;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;

    background: var(--background);
    font-family: var(--font)
}

body {
    @extend %no-margin
}

img {
    object-fit: contain
}

text, .text {
    @extend %no-margin;

    text-align: center;
    animation: hide .5s .3s both;

    page.current & {
        animation: fade-left 1s .25s both;
    }
}

page {
    height: 100vh;
    padding: 0 30px;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;

    box-shadow: inset 0 0 50px var(--page-shadow);
}

h1 {
    @extend %no-margin;

    color: var(--title-color);
    font-size: calc(3.5vw + 3.5vh)
}

p {
    @extend %no-margin;

    color: var(--text-color);
    font-size: calc(1.6vw + 1.6vh)
}