@use '../core';


$theme-default: (
    background: #f2f2f2,
    page-shadow: #0000004d,
    box-shadow: #00000021,

    font: 'Noto Sans',
    text-color: #848d97,
    title-color: #27272a,
    note-color: #b8b8b8,
    note-bold-color: #4e4e4e,
    hint-color: #ccced1,
    link-color: #77b255,
    link-color-hover: #ffcc4d,
);

$theme-default-dark: (

);

:root.theme-default {
    @include core.to_css_vars($theme-default);

    @if $theme-default-dark != () {
        @media (prefers-color-scheme: dark) {
            @include core.to_css_vars($theme-default-dark)
        }
    }
}