---
import '@styles/global.scss'

import SEO from '@components/SEO.astro'
import Favicon from '@components/Favicon.astro'
import { ViewTransitions } from 'astro:transitions'


const { lang, title, description, ...props } = Astro.props
---


<html lang={lang} class=theme-default>
	<head>
		<meta charset=utf-8>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title set:text={title} />
		<Favicon />
		<slot name=head>
		<ViewTransitions />
		<SEO lang={lang} description={description} />
	</head>
	<body {...props}>
		<slot>
	</body>
</html>