@keyframes show {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hide {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade {
    from, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translate(2rem)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes wiggle {
    from, to {
        transform: rotate(-0.7deg)
    }
    50% {
        transform: rotate(0.7deg)
    }
}