%no-margin {
    margin: 0;
}

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin to_css_vars($mapping) {
    @each $name, $value in $mapping {
        #{'--' + $name}: $value;
    }
}

@mixin vendors($property, $value, $vendors...) {
    #{$property}: $value;

    @each $vendor in $vendors {
        #{'-' + $vendor + '-' + $property}: $value;
    }
}

@function get($map, $key, $default: null) {
    @if (map-has-key($map, $key)) {
        @return map-get($map, $key);
    }

    @return $default;
}